.App {
  /* display: flex;
  flex-wrap: wrap;
  gap: 20px; */

  text-align: center;
}

.players-div{
display: inline-block;
margin: 20px;
  background-color: brown;
  width: 30%;
  height: 600px;
  border: 2px solid rgb(104, 146, 186);
  border-radius: 10px;
}
img{
  width: 60%;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
  padding-top: 10px;
}
.heading{
  display: flex;
  justify-content: center;
  }
h1{
  text-align: center;
  background-color: brown;
}
.logo{
  width: 100px;
  height: 100px;
  position: relative;
left:670px;
top:50px;

}
